.red{
  color : red;

}

body{
  margin : 0;
  background: #303030;
  color: white;
}
.title{
  text-align: center;
  margin-top: 150px;
  font-size: 50px;
}

.title-sub{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}